<div class='col-sm-6 col-sm-offset-3'>
  {{#if changeset.isInvalid}}
    <div data-test-signup-errors>
      {{#each changeset.errors as |error|}}
        <div class='alert alert-danger'>
          {{error.validation}}
        </div>
      {{/each}}
    </div>
  {{/if}}

  <div class='row'>
    <div class='col-sm-6'>
      <label>Start At:</label>
      {{#power-calendar
        center=centerForStart
        selected=changeset.startAt
        onCenterChange=(action (mut centerForStart) value='date')
        onSelect=(action (mut changeset.startAt) value='moment') as |calendar|}}
          {{calendar.nav}}
          {{calendar.days}}
      {{/power-calendar}}
    </div>
    <div class='col-sm-6'>
      <label>End At:</label>
      {{#power-calendar
        center=centerForEnd
        selected=changeset.endAt
        onCenterChange=(action (mut centerForEnd) value='date')
        onSelect=(action (mut changeset.endAt) value='moment') as |calendar|}}
          {{calendar.nav}}
          {{calendar.days}}
      {{/power-calendar}}
    </div>
  </div>
  <div class='form-group'>
    <label>Client Email</label>
    {{input
      type='email'
      value=(mut changeset.clientEmail)
      class='form-control'}}
  </div>
  <p><strong>Price:</strong> {{changeset.price}}</p>

  <div class='row text-center'>
    <button class='btn btn-primary' {{action 'handleSubmit'}}>Book</button>
  </div>
</div>
