<div class='row text-center'>
  <h2>Admin</h2>
  {{link-to data-test-new-rental-link 'Create New Rental' 'rentals.new' class='btn btn-primary'}}
</div>

<div class='col-sm-8 col-sm-offset-2'>
  <table class='table'>
    <thead>
      <tr>
        <th class='text-center'>Name</th>
        <th class='text-center'>Daily Rate</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody class='text-center'>
      {{#each model as |rental|}}
        <tr data-test-rental-item>
          <td class='text-center'>{{rental.name}}</td>
          <td class='text-center'>{{rental.dailyRate}}</td>
          <td class='text-center'>
            {{#link-to 'rentals.rental.edit' rental}}
              <span data-test-edit-rental-link class='glyphicon glyphicon-edit'>
              </span>
            {{/link-to}}
          </td>
          <td class='text-center'>
            <span
              data-test-delete-rental-link
              {{action 'deleteRental' rental}}
              class='glyphicon glyphicon-trash'>
            </span>
          </td>
          <td>
            {{link-to 'View' 'rentals.rental.show' rental.id class='btn btn-primary'}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
