<nav class="navbar navbar-inverse">
  {{link-to 'Booking Sync' 'index' class="navbar-brand"}}
  <ul class="nav navbar-nav navbar-right">
    {{#if session.isAuthenticated}}
      <li>{{link-to 'Rentals' 'admin'}}</li>
      <li {{action 'logout'}}>
        <a>Logout</a>
      </li>
    {{else}}
      <li>{{link-to data-test-signup-link 'Sign Up' 'signup'}}</li>
      <li>{{link-to data-test-login-link 'Login' 'login'}}</li>
    {{/if}}
  </ul>
</nav>

{{#each flashMessages.queue as |flash|}}
  {{#flash-message flash=flash as |component flash|}}
    {{#if flash.componentName}}
      {{component flash.componentName content=flash.content}}
    {{else}}
      <p>{{flash.message}}</p>
    {{/if}}
  {{/flash-message}}
{{/each}}

{{outlet}}
